name: Common (reusable) steps

on:
  workflow_call:
    inputs:
      node-version:
        description: Node.js version
        required: true
        type: string
      run-lint:
        description: Whether to run the eslint step
        required: false
        type: boolean
        default: false
      run-build:
        description: Whether to run the build step
        required: false
        type: boolean
        default: false
      run-sbom:
        description: Whether to run generation and upload SBOM artifacts step
        required: false
        type: boolean
        default: false
      run-release:
        description: Whether to run semantic release step
        required: false
        type: boolean
        default: false
    secrets:
      SECRET_NPM_TOKEN:
        required: false
      BOT_SECRET_GITHUB_TOKEN:
        required: false

jobs:
  common:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          # version: 10.2.0
          run_install: false

      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: pnpm
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Lint
        run: npm run eslint
        if: ${{ inputs.run-lint }}

      - name: Build project
        run: npm run build
        if: ${{ inputs.run-build }}
        env:
          NODE_ENV: production

      - name: Generate SBOM
        uses: anchore/sbom-action@17ae1740179002c89186b61233e0f892c3118b11 # v0
        if: ${{ inputs.run-sbom }}
        with:
          format: cyclonedx-json
          output-file: sbom.json

      - name: Upload Artifacts
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        if: ${{ inputs.run-sbom }}
        with:
          name: build-artifacts
          path: |
            dist/
          retention-days: 7

      - name: Semantic release
        if: ${{ inputs.run-release }}
        run: npm run semantic-release
        env:
          NPM_TOKEN: ${{ secrets.SECRET_NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.BOT_SECRET_GITHUB_TOKEN }}
          NPM_CONFIG_USERCONFIG: ./.npmrc
